
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="/css/registration.css" />
<div class="min-h-screen modal flex items-center justify-center content-center px-4 rounded-lg">
  <div class="max-w-4xl flex lg:flex-row flex-col card bg-white w-full rounded-lg shadow-xl">
    <div class="image">
      <img class="rounded-3xl" src="https://images.unsplash.com/photo-1616235352608-0c314f4b9027?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDY2fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
      <a href><i class="fas fa-times-circle fa-3x close"></i></a>
              </div>
            <div class="event flex flex-col">
                    <h2>Event Name</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi deserunt doloribus ducimus commodi dicta. Illum quos facilis dicta! Optio impedit repudiandae mollitia minus at magni debitis ipsam pariatur quis officia.</p>                    
            </div>
  </div>
 </div>