<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#FF7610" />
    <link rel="icon" type="image/png" href="/images/Visual.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zairzest</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
  />
    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    /> -->
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>

    <nav class="navbar">
      <div class="content">
          <div class="logo">
            <img class="logo-img" src="/images/zairzest.png">
          </div>
        <ul class="menu-list">
          <div class="icon cancel-btn">
            <i class="fas fa-times"></i>
          </div>
          <li><a href="events">Tech Events</a></li>
          <li><a href="events">Workshop</a></li>
          <li><a href="events">Fun Events</a></li>
          <li><a href="profile">Login/Profile</a></li>
          <li><a href="https://zairza.in/">Zairza</a></li>
        </ul>
        <div class="icon menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>

    <section>
      <%- include('../partials/toast.ejs') %>
      <%- include('../partials/preloader.ejs') %>
        <div class="container">
          <div class="user signinBx">
            <div class="imgBx">
              <img src="images\mrscout.png" alt="" />
            </div>
            <div class="formBx">
              <div class="form w-full" id="signin_form">
                <h1 class="text-2xl xl:text-3xl text-center font-bold">
                  Sign In
                </h1>
                <!-- <div class="mx-auto max-w-md mt-8"> -->
                <div class="w-full flex-1 mt-8">
                  <div class="my-12">
                    <div class="flex flex-col mx-auto max-w-md">
                      <input
                        class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none  focus:bg-white"
                        type="email"
                        placeholder="Email"
                        required
                      />
                      <small class="text-red-500 hidden invalid_email"
                        >Invalid Email Address</small
                      >
                      <div class="relative">
                        <input
                          class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none  focus:bg-white mt-5 js-password"
                          type="password"
                          placeholder="Password"
                          required
                          id="signin-password"
                        />
                        <div
                          class="absolute inset-y-0 right-0 flex items-center px-2"
                        >
                          <span
                            class="bg-gray-200 hover:bg-gray-300 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label"
                            onclick="togglePasswordVisibility($(this))"
                            ><i class="bx bx-hide" style="color: forestgreen"></i
                          ></span>
                        </div>
                      </div>
                      <button
                        id="signin-btn"
                        onclick="authenticate('signin')"
                        class="mt-5 tracking-wide font-semibold register-btn text-gray-100 hover:text-white w-full py-4 rounded-lg transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
                      >
                        <svg
                          id="signin-svg"
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-login w-6 h-6 -ml-2"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path
                            d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
                          ></path>
                          <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                        </svg>
                        <span class="ml-3"> Sign In </span>
                      </button>
                      <a
                        href="/forgot"
                        class="mt-4 text-center"
                        style="color: forestgreen"
                        >Forgot Password ?</a
                      >
                    </div>
                  </div>
  
                  <div class="flex flex-col items-center">
                    
                  </div>
                </div>
                <p class="signup text-center">
                  Don't have an account ?
                  <a href="#signup" onclick="toggleForm();">Sign Up.</a>
                </p>
                <!-- </div> -->
              </div>
            </div>
          </div>
          <div class="user signupBx">
            <div class="formBx">
              <div class="form" id="signup_form">
                <div class="mt-12 flex flex-col items-center">
                  <h1 class="text-2xl xl:text-3xl font-bold">
                    Sign up for Zairzest
                  </h1>
                  <div class="w-full flex-1 mt-8">
                    <div class="flex flex-col items-center">
                      
                    </div>

                    <div class="mx-auto max-w-md">
                        <input
                        class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none  focus:bg-white"
                        type="text"
                        placeholder="Name"
                        id="name"
                        required
                      />
                      <div class="relative">
                        <input
                          id="regno"
                          class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:bg-white"
                          type="text"
                          placeholder="Registration No."
                          oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                        />

                      </div>
                      <select multiple data-placeholder="Select your branch" id="branch" class="w-full my-2 appearance-none w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:bg-white">
                        <option value="Computer Science & Engineering" >Computer Science & Engineering</option>
                        <option value="Information Technology" >Information Technology</option>
                        <option value="Electrical Engineering" >Electrical Engineering</option>
                        <option value="Mechanical Engineering" >Mechanical Engineering</option>
                        <option value="Electronics & Intrumentation Engineering"  >Electronics & Intrumentation Engineering</option>
                        <option value="Biotechnology"  >Biotechnology</option>
                        <option value="Civil Engineering"  >Civil Engineering</option>
                        <option value="Textile Engineering"  >Textile Engineering</option>
                        <option value="Fashion & Apparel Technology"  >Fashion & Apparel Technology</option>
                        <option value="Architecture"  >Architecture</option>
                        <option value="Computer Science & Application"  >Computer Science & Application</option>
                        <option value="Planning"  >Planning</option>
                        <option value="Mathematics & Humanities"  >Mathematics & Humanities</option>
                        <option value="Physics"  >Physics</option>
                        <option value="Chemistry" >Chemistry</option>
                    </select>
                    
                      <input
                        class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none  focus:bg-white"
                        type="email"
                        placeholder="Email"
                        required
                      />
                      <small class="text-red-500 hidden invalid_email"
                        >Invalid Email Address</small
                      >
                      <input
                        class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none  focus:bg-white mt-5 js-password"
                        type="password"
                        placeholder="Password"
                        required
                        id="signup-password"
                      />
                      <div class="relative">
                        <input
                          class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none  focus:bg-white mt-5 js-password"
                          type="password"
                          placeholder="Confirm Password"
                          id="confirm-password"
                          required
                        />
                        <div
                          class="absolute inset-y-0 right-0 flex items-center px-2"
                        >
                          <span
                            class="bg-gray-200 hover:bg-gray-300 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label"
                            onclick="togglePasswordVisibility($(this))"
                            ><i class="bx bx-hide" style="color: olive"></i
                          ></span>
                        </div>
                      </div>
                      <small class="text-red-500 hidden no_match"
                        >Passwords donot match</small
                      >
                      <button
                        id="signup-btn"
                        onclick="authenticate('signup')"
                        class="mt-5 tracking-wide font-semibold register-btn text-gray-100 hover:text-white w-full py-4 rounded-lg transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
                      >
                        <svg
                          id="signup-svg"
                          class="w-6 h-6 -ml-2"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                          <circle cx="8.5" cy="7" r="4" />
                          <path d="M20 8v6M23 11h-6" />
                        </svg>
                        <span class="ml-3"> Sign Up </span>
                      </button>
                      <p class="mt-6 text-xs text-gray-600 text-center">
                        I agree to abide by zairza's rules and regulations.
                      </p>
                    </div>
                  </div>
                </div>
                <p class="signup text-center">
                  Already have an account ?
                  <a href="#signin" onclick="toggleForm();">Sign in.</a>
                </p>
              </div>
            </div>
            <div class="imgBx">
              <img src="images\middle-characters.gif" alt="" />
            </div>
          </div>
        </div>

    </section>
  </body>
  <script src="/js/auth.js"></script>
  <script src="/js/localAuth.js"></script>
  <script src="/js/nav.js"></script>
</html>
