<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FF7610" />
    <link rel="icon" type="image/png" href="/images/Visual.webp" />
    <title>Coming Soon | ZairzZest</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/comingsoon.css" />
  </head>
  <body>
    <%- include('../partials/preloader.ejs') %>
    <div class="wrapper h-screen w-screen">
        <div class="blackScreen w-screen h-screen z-0">
        <div
          class="z-10 w-screen h-screen content flex flex-col justify-center items-center"
        >
          <div
            class="absolute w-full flex flex-row justify-center bottom-0 ml-16 md:ml-32 z-0"
          >
            <img
              src="https://raw.githubusercontent.com/StrangeNoob/zairzest/master/public/images/mrscout.png"
            />
          </div>
          <div class="flex flex-col items-end">
            <div class="xl:text-9xl md:text-7xl text-4xl font-bold">COMING SOON!</div>
            <div class="lg:mr-4 mr-2 font-bold text-white text-lg lg:text-2xl z-20">Stay tuned.</div>
          </di>
        </div>
      
        <footer class="z-20 mb-8 flex flex-col items-center">
            <div class="text-white font-bold text-md mb-4">Follow us at</div>
          <ul class="footer__links flex flex-row w-screen justify-center space-x-7">
            <li>
              <a href="https://www.facebook.com/zairza.cetb"><span class="fa fa-facebook"></span></a>
            </li>
            <li>
              <a href="https://www.instagram.com/zairza.cetb/"><span class="fa fa-github"></span></a>
            </li>
            <li>
              <a href="https://github.com/zairza-cetb"><span class="fa fa-instagram"></span></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/zairza/"><span class="fa fa-linkedin"></span></a>
            </li>
          </ul>
        </footer>
        </div>
      </div>
      
  </body>
</html>




